In [1]:
from faker import Faker
import pandas as pd
import random
import numpy as np
from collections import deque

# Create the dataset

This notebook generates a synthetic dataset simulating large company groups (conglomerates) and their internal corporate hierarchies. This is mostly AI generated.

- **50 Groups**: Each representing a conglomerate or major client.
- **Company Trees**: Each group contains up to 200 companies structured as a non-binary tree.
- **Hierarchy Depth**: Up to 6 levels deep, simulating parent-subsidiary structures.
- **Columns**:
  - `Group`: Name of the group
  - `Name`: Company name
  - `id`: Unique company ID
  - `parent_id`: ID of the parent company (`None` if group root)
  - `turnover`: Estimated revenue (100k to 5M), loosely correlated with workforce size
  - `workers`: Number of employees (1 to 1000)
  - `level`: Depth in the hierarchy (0 = group root)

## Purpose

- Simulates real-world corporate networks for UI prototyping or testing tree-based aggregations.
- Enables interactive drill-down in web UIs via `id`/`parent_id` structure.

In [2]:
# Initialize Faker
fake = Faker()

# Parameters
NUM_GROUPS = 50
MAX_COMPANIES_PER_GROUP = 500
MAX_CHILDREN_PER_NODE = 10
MAX_DEPTH = 6
ID_COUNTER = 1  # Global counter for unique company IDs

In [3]:

def generate_turnover_and_workers():
    workers = int(np.clip(np.random.normal(100, 100), 1, 1000))
    turnover = int(np.clip(workers * random.uniform(500, 700), 100_000, 5_000_000))
    return turnover, workers

# Function to generate a single group's company tree using BFS
def generate_group_tree(group_name):
    global ID_COUNTER
    companies = []

    # Create the group root company
    group_id = ID_COUNTER
    ID_COUNTER += 1
    turnover, workers = generate_turnover_and_workers()
    root = {
        "Group": group_name,
        "Name": group_name,
        "id": group_id,
        "parent_id": None,
        "turnover": turnover,
        "workers": workers,
        "level": 0
    }
    companies.append(root)

    queue = deque([(group_id, 1)])  # (parent_id, depth)

    while queue and len(companies) < MAX_COMPANIES_PER_GROUP:
        parent_id, depth = queue.popleft()
        if depth > MAX_DEPTH:
            continue

        if depth == 0: 
            min_children_for_node = 1
        else:
            min_children_for_node=0

        num_children = random.randint(min_children_for_node, MAX_CHILDREN_PER_NODE-depth)
        for _ in range(num_children):
            if len(companies) >= MAX_COMPANIES_PER_GROUP:
                break
            company_id = ID_COUNTER
            ID_COUNTER += 1
            turnover, workers = generate_turnover_and_workers()
            company = {
                "Group": group_name,
                "Name": fake.company(),
                "id": company_id,
                "parent_id": parent_id,
                "turnover": turnover,
                "workers": workers,
                "level": depth
            }
            companies.append(company)
            queue.append((company_id, depth + 1))

    return companies

def create_base_dataframe(num_groups):
    rows = []
    for _ in range(num_groups):
        group_name = f"{fake.company()} Group"
        group_companies = generate_group_tree(group_name)
        rows.extend(group_companies)

    return pd.DataFrame(rows)

In [4]:
def add_list_children_column(df):
    """
    Adds a 'list_children' column to the DataFrame, listing direct child IDs for each company.

    Parameters:
        df (pd.DataFrame): The input company DataFrame with 'id' and 'parent_id'.

    Returns:
        pd.DataFrame: The modified DataFrame with a new 'list_children' column.
    """
    # Step 1: Group all rows by parent_id → collect their IDs
    child_map = df.groupby("parent_id")["id"].apply(list).to_dict()
    # Step 2: Map each row's id to the list of children (or empty list)
    df["list_children"] = df["id"].map(child_map).apply(lambda x: x if isinstance(x, list) else [])
    return df

In [5]:
def add_total_metrics(df):
    """
    Adds 'total_turnover' and 'total_workers' columns to the DataFrame,
    where each row includes the sum of its own metrics + all recursive descendants'.
    """
    # Step 1: Build tree: parent_id → list of children
    children_map = df.groupby("parent_id")["id"].apply(list).to_dict()

    # Step 2: Initialize totals with own values
    df["total_turnover"] = df["turnover"]
    df["total_workers"] = df["workers"]

    # Step 3: Create a lookup table by ID
    df_index = df.set_index("id")

    # Step 4: Define recursive function using memoization
    from functools import lru_cache

    @lru_cache(maxsize=None)
    def compute_totals(node_id):
        # Start with the node’s own values
        total_turnover = df_index.at[node_id, "turnover"]
        total_workers = df_index.at[node_id, "workers"]

        # Recursively add all children’s totals
        for child_id in children_map.get(node_id, []):
            child_turnover, child_workers = compute_totals(child_id)
            total_turnover += child_turnover
            total_workers += child_workers

        return total_turnover, total_workers

    # Step 5: Apply the recursive total computation
    results = df["id"].apply(lambda node_id: compute_totals(node_id))
    df["total_turnover"] = results.apply(lambda x: x[0])
    df["total_workers"] = results.apply(lambda x: x[1])

    return df

In [6]:
df_groups = create_base_dataframe(NUM_GROUPS)
df_groups = add_list_children_column(df_groups)
df_groups = add_total_metrics(df_groups)
df_groups["has_children"] = df_groups["list_children"].apply(lambda x: int(bool(len(x))))

In [7]:
df_groups

,Group,Name,id,parent_id,turnover,workers,level,list_children,total_turnover,total_workers,has_children
0,Faulkner-Roth Group,Faulkner-Roth Group,1,NaN,100000,155,0,[2],52253626,51252,1
1,Faulkner-Roth Group,Lee Inc,2,1.0,100000,60,1,"[3, 4, 5, 6, 7]",52153626,51097,1
2,Faulkner-Roth Group,Jackson-Page,3,2.0,116651,181,2,"[8, 9, 10, 11]",8452163,9161,1
3,Faulkner-Roth Group,"Cox, Phillips and Lara",4,2.0,100000,70,2,"[12, 13, 14, 15]",12923551,11962,1
4,Faulkner-Roth Group,Guzman-Miller,5,2.0,100000,1,2,[16],2908779,2701,1
...,...,...,...,...,...,...,...,...,...,...,...
22063,Yu Inc Group,Hernandez-Conner,22064,21856.0,100000,86,6,[],100000,86,0
22064,Yu Inc Group,Obrien PLC,22065,21856.0,100000,80,6,[],100000,80,0
22065,Yu Inc Group,"Ali, Page and Mendoza",22066,21858.0,100000,153,6,[],100000,153,0
22066,Yu Inc Group,"Gomez, Johnson and Simpson",22067,21858.0,100000,147,6,[],100000,147,0
22067,Yu Inc Group,Avery-Bradley,22068,21858.0,104958,152,6,[],104958,152,0

## Save as CSV

In [8]:
df_groups.to_parquet("../data/company_groups.parquet", index=False)
df_groups.to_csv("../data/company_groups.csv", index=False)